<nav class="sb-sidenav accordion sb-sidenav-light" id="sidenavAccordion">
    <div class="sb-sidenav-menu bg-white">
        <div class="nav">
            <div class="sb-sidenav-menu-heading">Chức năng</div>
            <a class="nav-link" href="index.html">
                <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                Xem dữ liệu
            </a>
            <a class="nav-link" href="index.html">
                <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                Tách file
            </a>
            <a class="nav-link" href="index.html">
                <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                Nối file
            </a>
            <a class="nav-link" href="index.html">
                <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                Trộn file
            </a>
        </div>
    </div>
</nav>