
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/Assets/admin/css/bootstrap.css">
    <link rel="stylesheet" href="~/Assets/admin/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Assets/admin/css/magnific-popup.css">
    <!-- main css -->
    <link rel="stylesheet" href="~/Assets/admin/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" href="~/Assets/admin/Excel_icon.png" type="image/icon type">
    <title>Split Excel Data | Super Team</title>
    <title>Document</title>
</head>

<body>
    <!--================Header Menu Area =================-->
    <header class="header_area">
        <div class="main_menu">
            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <a class="navbar-brand logo_h" href="../Home/Index#"><img alt="">Split Excel Data</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                        <ul class="nav navbar-nav menu_nav justify-content-center">
                            <li class="nav-item"><a class="nav-link" href="../Home/Index#">Trang Chủ</a></li>
                            <li class="nav-item active"><a class="nav-link" href="Index#">Team</a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li class="nav-item"><a href="/Admin/Login/Index#" class="primary_btn text-uppercase">Đăng Nhập</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <!--================Header Menu Area =================-->

    <div class="container text-center mt-5 mb-2">
        <h1 class="mb-0">Super Team</h1><span>Làm được nhiều thứ trừ những thứ không làm được.</span>
    </div>
    <div class="container-fluid justify-content-center mt-100">
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-4">
                <div class="card" id="card-1">
                    <div class="card-body text-center">
                        <img src="~/Assets/admin/img/leader.jpg" class="rounded-circle"
                             width="200" height="200">
                        <h5 class="card-title mt-2 mb-1">Đặng Trần Hữu Nhân</h5> <span class="fs-2 mb-3 font-weight-bold">
                            Leader
                        </span>
                        <p class="mb-3 mt-3">"Chỉ cách Member làm"</p>
                        <ul class="list-inline">
                            <li class="list-inline-item"><a><i class="fa fa-facebook fa-2x facebook"></i></a></li>
                            <li class="list-inline-item"><a><i class="fa fa-twitter fa-2x twitter"></i></a></li>
                            <li class="list-inline-item"><a><i class="fa fa-linkedin fa-2x linkedin"></i></a></li>
                            <li class="list-inline-item"><a><i class="fa fa-google fa-2x google"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card" id="card-2">
                    <div class="card-body text-center">
                        <img src="~/Assets/admin/img/member.jpg" class="rounded-circle"
                             width="200" height="200">
                        <h5 class="card-title mt-2 mb-1">Nguyễn Đăng Khoa</h5> <span class="fs-2 mb-3 font-weight-bold">
                            Member
                        </span>
                        <p class="mb-3 mt-3">"Làm cách Leader chỉ"</p>
                        <ul class="list-inline">
                            <li class="list-inline-item"><a><i class="fa fa-facebook fa-2x facebook"></i></a></li>
                            <li class="list-inline-item"><a><i class="fa fa-twitter fa-2x twitter"></i></a></li>
                            <li class="list-inline-item"><a><i class="fa fa-linkedin fa-2x linkedin"></i></a></li>
                            <li class="list-inline-item"><a><i class="fa fa-google fa-2x google"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-2"></div>
        </div>
        <script src="~/Assets/admin/js/jquery-3.2.1.min.js"></script>
        <script src="~/Assets/admin/js/popper.js"></script>
        <script src="~/Assets/admin/js/bootstrap.min.js"></script>
        <script src="~/Assets/admin/js/stellar.js"></script>
        <script src="~/Assets/admin/js/jquery.magnific-popup.min.js"></script>
        <script src="~/Assets/admin/js/jquery.ajaxchimp.min.js"></script>
        <script src="~/Assets/admin/js/mail-script.js"></script>
        <!--gmaps Js-->
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>
        <script src="~/Assets/admin/js/gmaps.min.js"></script>
        <script src="~/Assets/admin/js/theme.js"></script>
</body>

</html>
