
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Split Excel Data | Xử lý dữ liệu</title>
</head>
<body>
    <div class="container-fluid">
        <div class="card mt-3">
            <div class="card-header"><i class="fas fa-table mr-1"></i>Bảng dữ liệu</div>
            <div class="card-body">
                <div>
                    <select class="custom-select mb-4">
                        <option selected>Sheet 1</option>
                        <option value="2">Sheet 2</option>
                        <option value="3">Sheet 3</option>
                    </select>
                </div>

                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                @foreach (System.Data.DataColumn col in Model.Columns)
                                {
                                    <th>@col.Caption</th>
                                }
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (System.Data.DataRow row in Model.Rows)
                            {
                                <tr>
                                    @foreach (var cell in row.ItemArray)
                                    {
                                        <td>@cell.ToString()</td>
                                    }
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
